MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/flood_db?retryWrites=true&w=majority
TELEGRAM_BOT_TOKEN=your_telegram_bot_token
TELEGRAM_CHAT_ID=your_chat_id
ALLOWED_HOSTS=http://localhost:3000,https://your-frontend.vercel.app